* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    margin: 20px;
}

h1 {
    font-size: 44px;
    margin: 20px;
    text-align: center;
}

#pokemon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon {
    display: inline-block;
    width: 220px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .2s;
    background-color: #cccccc;
}

.grass, .bug        { background-color: #50AE55; }
.electric, .psychic { background-color: #FEC93E; }
.water, .ice        { background-color: #1EABF1; }
.rock, .steel       { background-color: #79909C; }
.poison             { background-color: #8B75BB; }
.fire               { background-color: #FD4C3A; }
.flying, .ground    { background-color: #DDAC77; }

.pokemon:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.pokemon .sprite {

}

.pokemon .sprite img {
    width: 100%;
}

.pokemon .name {
    text-transform: capitalize;
    text-align: center;
}
