

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin: 20px;
}

h1 {
    font-size: 44px;
    margin: 20px;
    text-align: center;
}

#pokemon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon {
    display: inline-block;
    width: 220px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .2s;
}

.pokemon.grass {
    background-color: #50AE55;
}

.pokemon.electric {
    background-color: #FEC93E;
}

.pokemon.water {
    background-color: #1EABF1;
}

.pokemon.rock {
    background-color: #79909C;
}

.pokemon:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.pokemon .sprite {

}

.pokemon .sprite img {
    width: 100%;
}

.pokemon .name {
    text-transform: capitalize;
}